::ng-deep body.sidebar-collapsed .side-menu {
    position: absolute;
    left: 0;
    height: 100%;
}

@media (min-width: 768px) {
    ::ng-deep body.sidebar-collapsed .side-menu:not(:hover) {
        width: 3.25rem;
    }

    ::ng-deep body.sidebar-collapsed .side-menu:not(:hover) .nav-link {
        width: 3.25rem;
    }

    ::ng-deep body.sidebar-collapsed .side-menu:not(:hover) span.title,
    ::ng-deep body.sidebar-collapsed .side-menu:not(:hover) .down-arrow {
        display: none;
    }

    ::ng-deep body.sidebar-collapsed .side-menu:not(:hover) .nav-item,
    ::ng-deep body.sidebar-collapsed .side-menu:not(:hover) .nav-link {
        // width: 3.25rem;
        position: relative;
    }

    ::ng-deep body.sidebar-collapsed .side-menu:not(:hover) .sub-list .nav-link {
        padding-left: 1rem;
    }

    ::ng-deep body.sidebar-collapsed .side-menu:not(:hover) .count-tag {
        padding: 1px 0.375rem;
        position: absolute;
        top: 0;
        right: 0;
    }
}

// :not(.sidemenu-collapsed) .side-menu{
//     width: var(--side-menu-width);
// }

.icon{
    height: 1.25rem;
    width: 1.25rem;
    display: grid;
    place-content: center;
}

.side-menu {
    width: var(--side-menu-width);
    background-color: var(--bs-primary);
    height: 100%;
    overflow-y: auto;
    transition: width 300ms ease;
    z-index: 999;

    &::-webkit-scrollbar {
        width: 4px;
        height: 8px;
    }


    &::-webkit-scrollbar-track {
        background: transparent;
        width: 4px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        outline-color: var(--bs-border-color);
        background-color: var(--bs-border-color);
        border-radius: 10px;
    }

    .down-arrow {
        margin-left: auto;
        transition: all 0.3s ease-in-out;
    }
}

.nav-item {
    &.active,
    &:hover {
        background-color: var(--primary-400);
    }
}

.nav-item {
    // transition: background-color 0.3s linear;
    transition: all 0.3s ease;
}

.nav-link {
    padding: 0.625rem 1rem;
    color: var(--gray-100);
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: var(--side-menu-width);
}

.sub-list .nav-link {
    padding-left: 2.75rem;
}

.nav-item:has(> a[aria-expanded="true"]) {
    background-color: var(--primary-600);

    .down-arrow {
        transform: scaleY(-1);
    }
}

.count-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: var(--bs-primary);
    font-size: 0.675rem;
    padding: 0.125rem 0.25rem;
    border-radius: 50px;
    transition: all 0.3s ease;
    // width: 1.25rem;
    // aspect-ratio: 1;
}


// for tab view

@media (min-width: 768px) and (max-width: 1199px) {
    .side-menu {
        position: absolute;
        left: 0;
        height: 100%;
    }

    .side-menu:not(:hover) {
        width: 3.25rem;
    }

    .side-menu:not(:hover) span.title,
    .side-menu:not(:hover) .down-arrow {
        display: none;
    }

    .side-menu:not(:hover) .nav-item,
    .side-menu:not(:hover) .nav-link {
        // width: 3.25rem;
        position: relative;
    }

    .side-menu:not(:hover) .sub-list .nav-link {
        padding-left: 1rem;
    }

    .side-menu:not(:hover) .count-tag {
        padding: 1px 0.375rem;
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (max-width : 767px) {
    .side-menu {
        position: relative;
        left: 0;
        transition: left 0.3s ease-in-out;
    }

    ::ng-deep body.sidebar-collapsed .side-menu {
        left: -100%;
    }
}